
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600px;
    margin:0px;
}

.btn{
   border-radius: 4px;
   background-color: rgba(70, 145, 101, 1);
   color:rgba(255, 255, 255, 1);
   border:none;
   height:44px;
   width:auto;
   padding: 12px 16px 12px 16px;
   display: inline-flex;
   align-items: center;
   font-size: 16px;
   gap:8px;
   font-weight: 600px;

   
}
.btn:hover{
   color:aqua;
   background-color: purple;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
nav img{
    width: 140px;
    height:60px;
}

nav ul{
    list-style: none;
    display: flex;

}
nav ul li{
    margin-left: 32px;
    
}
nav ul li a{
    text-decoration: none;
    
}
.banner{
    background-image: url("./images/hero-bg.png");
    text-align: center;
    height: 650px;
    background-repeat: no-repeat;
    padding-top: 115px;
}
.banner .ban-early{
    background-color: rgba(255, 255, 255, 1);
    color:rgba(70, 145, 101, 1);
    width: 230px;
    height: 30px;
    margin:0px auto;
    border-radius: 1000px;
    padding-top: 6px;
    margin-bottom: 10px;
    
}
.ban-early i{
    font-size: 10px;
    
}
.ban-title{
    font-size: 70px;
    font-weight: 700px;
    margin-top:0px;
    
}
.ban-para{
    color:white;
    font-size:18px;
    text-align:center;
    line-height: 40px;
    font-weight: 100px;
    
}

.btn2{
    background-color: transparent;
    border:1px solid white;
    color:white;
     display: inline-flex;
    align-items: center;
    font-size: 16px;
    gap:10px;
    font-weight: 600px;
    border-radius: 4px;
    height:44px;
    width:auto;
    padding: 12px 16px 12px 16px;
    margin-left: 15px;

}
.btn2:hover{
    color:rgb(9, 255, 0);
   background-color: rgb(247, 104, 127);
}
.sec1{
    text-align: center;
    margin-top: 0px;
   
    
}
.sec1 h1{
    font-size: 48px;
    font-weight: 700;
    margin:0px;
    line-height: 58px;
    
}
.sec1 p{
    color:rgba(98, 115, 130, 1);
    margin-bottom: auto;
}
.card-container{
    display: flex;
    width: 1360px;
    height:300px;
    align-items: center;
    margin-left:120px;
    margin-top: 60px;
    gap:20px;
    padding-bottom: 30px;
}
.card img{
    background-color: rgba(249, 85, 85, 1);
    width:50px;
    height:auto;
    border-radius: 100px;
    padding: 14px 14px 14px 14px;
    margin-top: 55px;
}

.card{
  border:none;
  border-radius: 8px;
  box-shadow: 0px 1px 15px rgb(110, 105, 105);
  background: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 300px;
  padding:20px;
  
}
.card h2{
    font-size: 24px;
    font-weight: 600px;
    font-weight: 700px;
    text-align: center;
    line-height: 29px;
}
.sec2{
    display: flex;
    width:1360;
    height:600px;
    align-items: center;
    gap:100px;
    margin:120px 0px 120px 120px;
}
.sec2-img img{
 height: 600px;
 width:600px;
 
}
.soln-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(70, 145, 101, 1);
}
.soln h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 16px;
    margin-bottom: auto;
}
.soln-p2{
    color:rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
    
}

.soln ul{
    list-style: none;
    padding-left: 9px;
    margin-right: 20px;
}
.soln ul li{
     margin-bottom: 16px;
}
.sec3{
    background-color: rgba(247, 246, 242, 1);
    text-align: center;
    margin: 120px 120px;
    align-items: center;
 
}

.sec3 h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.sec3 p{
    color:rgba(98, 115, 130, 1);
}
.social{
    
    background-color: rgba(0, 25, 49, 1);
    color:white;
    padding:120px 120px 0px 120px;
}
.social2{
    display: flex;
    justify-content: space-between;
     margin-bottom: 168px;
}

.social2 p{
   font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-right: 190px;
}
.social .copyright{
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    padding-bottom: 20px;
}